作成者用_untouchable/students.db
作成者用_untouchable/py/__pycache__/report_generator.cpython-313.pyc
管理者用_touchable/logs/集計レポート_*.xlsx
管理者用_touchable/.env
作成者用_untouchable/students.db
students.db
管理者用_touchable/生徒情報_*-.xlsx
管理者用_touchable/motivational_phrases.xlsx
作成者用_untouchable/venv/
作成者用_untouchable/certs/cert.crt
作成者用_untouchable/certs/key.pem
__pycache__/
*.pyc
作成者用_untouchable/py/__pycache__/achievement_logic.cpython-313.pyc
作成者用_untouchable/py/__pycache__/database.cpython-313.pyc
作成者用_untouchable/py/__pycache__/email_sender.cpython-313.pyc
作成者用_untouchable/py/__pycache__/report_generator.cpython-313.pyc
管理者用_touchable/server_logs/server.log
server.log
server.log.*
.__server.lock
