作成者用_untouchable/students.db
作成者用_untouchable/py/__pycache__/report_generator.cpython-313.pyc
管理者用_touchable/logs/集計レポート_*.xlsx
管理者用_touchable/logs/~$集計レポート_*.xlsx
管理者用_touchable/.env
作成者用_untouchable/students.db
students.db
管理者用_touchable/生徒情報_*-.xlsx
管理者用_touchable/~$生徒情報_2025-.xlsx
管理者用_touchable/motivational_phrases.xlsx
作成者用_untouchable/venv/
作成者用_untouchable/certs/cert.crt
作成者用_untouchable/certs/key.pem
__pycache__/
*.pyc
作成者用_untouchable/py/__pycache__/achievement_logic.cpython-313.pyc
作成者用_untouchable/py/__pycache__/database.cpython-313.pyc
作成者用_untouchable/py/__pycache__/email_sender.cpython-313.pyc
作成者用_untouchable/py/__pycache__/report_generator.cpython-313.pyc
管理者用_touchable/server_logs/server_*.log
管理者用_touchable/server_logs/server_*.log.*
server_*.log
server_*.log.*
管理者用_touchable/server_logs/.__server_*.lock
作成者用_untouchable/school_qna/static/sounds/notification.m4a
管理者用_touchable/質問内容と小区分の編集.xlsx
作成者用_untouchable/school_qna/questions.db
questions.db
管理者用_touchable/質問履歴/質問履歴_for_import.csv
管理者用_touchable/質問履歴/質問履歴.xlsx
管理者用_touchable/質問画像/*_image.jpg
導入資料/入退室管理システム 2機能紹介.docx
.gitignore
導入資料/サーバ.png
導入資料/最終形態.jpg
導入資料/入退４.jpeg
導入資料/入退５.jpeg
導入資料/入退システムコーチ導入マニュアル（暫定版）.pdf
導入資料/入退システムコーチ導入マニュアル（暫定版）.pptx
導入資料/！新入退システム実証実験中！.pdf
導入資料/！新入退システム実証実験中！.pptx
導入資料/0126！新入退システム実証実験中！.pdf
